<h1>Welcome to Stock App, <%= @user.email %></h1>
<p>
  Your trader account has been created! You can now log in with your email: <%= @user.email %>.
</p>
<p>
  Click here to start trading: <%= @url %>
</p>
<p>Thank you and happy trading!</p>