<% if user_signed_in? %>
<h2>Hi <%= current_user.email %></h2>

<% if current_user.is_admin? %>
  <%= link_to "Go to Admin Dashboard", admin_users_path %>
<% else %>
  <%= link_to "Get started", trader_portfolios_path %>
<% end %>

<% else %>
  <h1>Welcome. Please sign in</h1> 
<% end %>
