/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

 .sidebar {
    background-color: #0B1E3F;
    color: white;
    border-radius: 12px 0 0 12px;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    font-weight: 500;
  }
  
  .sidebar a:hover {
    color: #00bfff;
  }
  
  .main-content {
    background-color: white;
    color: #333;
    border-radius: 12px 0 0 12px;
  }
  
  